.pageButton {
    display: flex;
    justify-content:center;
    align-self: center;
    font-size:30px;
    background-color: lightgray;
}

.coolButton {
    display: flex;
    justify-content: center;
    align-self: center;
    background-color: lightgray;
}


.coolButtontop{
    display: flex;
    justify-content: center;
    align-self: center;
}

.home{
    position: fixed;
    bottom: 0;
    right: 0;
    left: 0;
    top: 0;
}